* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

html {
  font-size: 18px;

  @media (min-width: 720px) {
    font-size: 20px;
  }
}

.root {
  min-height: 100vh;
  background-color: #ecf2ff;

  @media (min-width: 720px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main {
  background-color: #fff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);

  @media (min-width: 720px) {
    flex-direction: row;
  }
}

.results-container {
  width: 100%;
  padding: 1.5rem 2rem 2rem;
  text-align: center;
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
  box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
  color: #cac9ff;
  border-radius: 0px 0px 32px 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;

  &__title {
    font-size: 1.2rem;
  }

  &__final-score {
    width: 9rem;
    height: 9rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    );

    & span {
      font-size: 3.5rem;
      font-weight: 800;
      color: #ffff;
    }
  }

  &__ratio {
    font-size: 1.5rem;
    color: #ffff;
  }

  @media (min-width: 720px) {
    max-width: 25rem;
    flex-basis: 50%;
    justify-content: space-around;
    border-radius: 32px;
  }
}

.summary {
  padding: 1.5rem;

  display: flex;
  flex-direction: column;

  &__title {
    color: #303b59;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;

    @media (min-width: 720px) {
      margin: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      list-style: none;
    }
  }

  &__button {
    margin: 1.5rem 0;
    padding: 1rem;
    width: min(100%, 20.5rem);
    align-self: center;
    border: none;
    border-radius: 128px;
    font-size: 1.1rem;

    background: #303b59;
    color: #ffff;

    &:hover {
      background-image: linear-gradient(
        180deg,
        #7755ff 0%,
        #6943ff 0.01%,
        #2f2ce9 100%
      );
      cursor: pointer;
    }

    @media (min-width: 720px) {
      margin: 0;
    }
  }

  @media (min-width: 720px) {
    padding: 2rem;
    gap: 2rem;
    flex-basis: 50%;
  }
}
